

<div class="wrap">

  <div class="col-4 card shadow p-3 m-3">
    <div style="width: 100%; display: flex; justify-content: center; margin:5px">
      <img style="width: 20%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSap4Eh9JEqSjqEALpyOjM3cQPLetGujeHXDA&usqp=CAU">
    </div>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <form>
        <div class="form-group field mb-2">
          <label for="exampleInputEmail1" class="mb-2"> <%= f.label :email %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control",  id:"exampleInputEmail1", placeholder: "Enter email"%>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group field mb-4">
          <label for="exampleInputPassword1" class="mb-2">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>

          </label>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "exampleInputPassword1", placeholder: "Password" %>
        </div>

        <div class="form-group field mb-4">
          <label for="exampleInputPassword1" class="mb-2">
            <%= f.label :password_confirmation %>
          </label>
          <%= f.password_field :password_confirmation, class: "form-control", id: "exampleInputPassword1" ,autocomplete: "new-password", placeholder: "Re-enter Password" %>
        </div>


        <div class="actions mb-4">
          <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-block", style: 'width: 100%'; %>
        </div>
    <%end %>
    </form>
    <div style="display: flex; flex-direction:row;" class="mb-3">
      <div class="divider "></div>
      <h6 class="p-1">OR</h6>
      <div class="divider "></div>
    </div>

    <div style="width: 100%; display: flex; justify-content: center">
      <p>Already have an account? <%- if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none" %><br />
        <% end %>
      </p>
    </div>

  </div>


</div>














